body{
    margin: 0;
    padding: 0;
}
.wholebody{
    width: 100%;
    text-align: center;
    color: #fff;
    background-color: #fff;  
}
#display{
    font-size: 5rem;
}
#laps{
    font-size: 1.25rem;
    background-color: #fff;
    color: #000; 
}
#laphead{
    font-size: 1.25rem;
    background-color: #fff;
    color: #000;
}
.headbody{
    background-color: #382653;
}